<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reminder</title>
  </head>
  <body>
    <h3>Halo {{username}}</h3>
    <p>
      Kami ingin mengingatkan Anda bahwa besok adalah waktu check-in untuk
      transaksi sewa Anda
    </p>
    <p> Detail Sewa Anda:</p>
    <ul>
      <li>Nama Properti: {{property}}</li>
      <li>Jam Check-In: 14:00 WIB</li>
    </ul>
    <p>
      Pastikan Anda mempersiapkan segala sesuatu sebelum tiba. Jika ada
      pertanyaan atau kebutuhan khusus, jangan ragu untuk menghubungi kami.
    </p>
    <p>Terima kasih telah memilih Nezztar. Kami berharap Anda menikmati
      pengalaman menginap Anda! Salam hangat, Tim Nezztar</p>

  </body>
</html>