<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reminder</title>
  </head>
  <body>
    <h3>Halo {{username}}</h3>
    <p>Ini adalah pengingat bahwa reservasi Anda di {{property}} akan dimulai
      besok. Kami berharap Anda memiliki pengalaman yang
      menyenangkan! Salam, {{username}} </p>
  </body>
</html>